<div class="jumbotron">
  <h2><%= gettext "Welcome %{name} Meetup Ideas!", name: "Elixir" %></h2>
  <p class="lead">A place to generate ideas for talks </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Ideas</h4>
    <ul>
    <%= for idea <- @ideas do %>
      <li><%= link idea.title, to: idea_path(@conn, :show, idea) %></li>
    <% end %>
    </ul>
  </div>
</div>
